  body{
    background-color: rgba(85, 76, 76, 0.441);
   }
  
    #container{
        height: 100px;
        width: 300px;
        margin:auto;
        margin-top: 50px;
        border: 2px solid black;
        border-style:solid;
        border-radius: 10px;
        text-align: center;
        padding: 15px;
        background-color: rgba(41, 27, 27, 0.604);
    }
    input{
        border: 1px solid black;
        background-color: rgba(41, 27, 27, 0.604);
        color: mintcream;
        padding: 2px;
        border-radius: 5px;
        
    }
    button{
        border: 2px solid black;
        background-color: rgba(41, 27, 27, 0.604);
        border-radius: 5px;
        color:mintcream;
        padding:2px 10px;
    }
    #second{
          height: 100px;
        width: 300px;
        margin:auto;
        margin-top: 10px;
        border: 2px solid black;
        border-style:solid;
        border-radius: 10px;
        text-align: center;
        padding: 5px 15px;
        background-color: rgba(41, 27, 27, 0.604);
    }
