  #display {
            margin: auto;
            width: 260px;
            height: 50px;
            border: 2px solid black;
            padding: 20px;
            font-weight: bolder;
            text-align: end;
            overflow-wrap: anywhere;
            background-color: rgb(222, 197, 197);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;

        }

        #parent {
            width: 260px;
            height: 260px;
            margin: auto;
            border: 2px solid black;
            padding: 20px;
            display: grid;
            grid-template-rows: 50px 50px 50px 50px;
            grid-template-columns: 50px 50px 50px 50px;
            gap: 20px;
            background-color: rgb(222, 197, 197) ;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

        }

        button {
            font-weight: bold;
            border-radius: 20px;
            

        }

        button:hover {
            box-shadow: 1px 1px 2px black;
        }
        h1:hover{
            color: hsl(0, 64%, 51%);
            text-decoration:underline;
        }
    
